@import "../../global.scss";

.works {
  background-color: $secColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    // @include mobile {
    //   display: none;
    // }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
      
      @include mobile {
        left: 0px;
      }
    }

    &.right {
      right: 100px;
      
      @include mobile {
        right: 0px;
      }
    }
  }

  .slider {
    height: 370px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include bigScreen{
      height: 500px;
    }

    @include mobile {
      height: 100vh;
      // flex-direction: column;
      // justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include bigScreen{
          width: 1000px;
        }

        @include mobile {
          flex-direction:column-reverse;
          justify-content: center;
          width: 80%;
          height: 80%;
          margin: 15px 0;
        }

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
              font-size: 20px;
              text-align: center;

              @include bigScreen{
                font-size: $sSize;
              }

              @include mobile{
                font-size: 18px;
              }
            }

            h3 {
              align-self: flex-end;
              height: 24px;
              padding: 0px 20px;
              border-radius: 4px;
              font-weight: 500;
              background-color: yellow;
              width: min-content;
              
              @include mobile{
                font-size: 17px;
              }
            }

            p {
              font-size: 13px;
              text-align: justify;

              @include bigScreen{
                font-size: 17px;
              }

              @include mobile{
                font-size: 15px;
              }
            }

            .buttons{
              width: 100%;
              display: flex;
              justify-content: space-around;

              .demo{
                background-color: green;
              }

              .github{
                background-color: black;
              }

              button{
                width: 100px;
                height: 24px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                color: white;
                font-weight: 500;

                @include bigScreen{
                  width: 125px;
                  height: 30px;
                  font-size: 15px;
                }
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          @include mobile {
            flex: 2;
          }

          img {
            width: 600px;
            transform: rotate(-10deg);
            
            @include mobile {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
