$mainColor: #0f172a;
$secColor: #6366f1;

$textColor: #000000;
$accentColor: #facc15;

$topbarHeigth: 70px;

$xxlSize: 64px;
$xlSize: 48px;
$lSize: 36px;
$mSize: 28px;
$sSize: 20px;

$width: 768px;
$bigWidth: 1280px;

body {
  font-family: "Inter", sans-serif;
  background-color: $mainColor;
  color: $textColor;
}

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin bigScreen {
  @media (min-width: #{$bigWidth}) {
    @content;
  }
}
