$topbarHeigth: 60px;

$mainColor: black;
$secColor: #00684a;

$bFont: 56px;
$mFont: 36px;
$sFont: 28px;

$widthMob: 720px;
$widthForb: 421px;

@mixin mobile {
    @media (max-width: #{$widthMob}){
        @content
    }
};

@mixin forbidden {
    @media (max-width: #{$widthForb}){
        @content
    }
};